.banner
	height: 100%
	background: blue
.dad
	position: relative

.child
	position: absolute
	top: 0

.contact
	display: none !important


@media screen and (max-width: 600px)
	.banner
		background: red
		height: 40%
	.contact
		display: inline-flex !important

	.contact1
		display: none !important